.brif__btn {

}

.text-column {
  padding: 100px 0px;
  background-color: #d8dadf;

  &__inner {
  }
}

.column-text {
  display: flex;
  flex-direction: column;

  gap: 30px;

  &__item {
    display: flex;

    @media screen and (min-width: 992px) {
      width: 48%;
    }

    &:nth-child(even) {
      @media screen and (min-width: 992px) {
        align-self: flex-end;
      }
    }

    &--minus {
    }
  }

  &__wrap {

    &--link {
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    transition: all 0.5s ease;

    @media screen and (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 140%;

    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

}