body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: translateY(0);
  // transform: scale(1);
  position: relative;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: translateY(-120px);
  // transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: rgba($color: #fff, $alpha: 1.0);
  width: 100%;
  background-color: #e8eaee;
  padding: 20px;
  position: relative;
  z-index: 100000001;
  max-width: 550px;

  .lock & {
    visibility: visible;
  }

  @media screen and (max-width: 425px) {
    padding: 40px 20px 60px;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 99;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    margin-top: -1px;
    margin-left: -10px;
    background-color: red;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__label {
  position: relative;
}

.popup__label span {
  font-size: 10px;
  line-height: 160%;
  position: absolute;
  top: 20px;
  left: 24px;
  font-weight: 700;
  color: #001727;
}

.popup input {
  height: 80px;
  margin-bottom: 15px;
}

.popup textarea {
  resize: none;
  margin-bottom: 20px;
  height: 200px;
}

.popup__input {
  background: none;
  padding-top: 39px;
  padding-bottom: 14px;
  font-size: 17px;
  border: 1px solid rgba(0, 23, 39, 0.2);
  width: 100%;
  padding-left: 24px;
  transition: all 0.25s;
  outline: none;
}

.popup__input:focus {
  background-color: #fff;
}

.popup__access {
  line-height: 150%;
  font-size: 13px;
  color: #9098b1;
  margin-bottom: 10px;
}

.popup__access a {
  color: #e10000;
}


.popup__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}


.popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup__form-controls {
  border: 1px solid rgba($color: red, $alpha: .4);
  padding: 20px 10px;
  outline: none;
  border-radius: 6px;

  &:focus {
    border-color: rgba($color: red, $alpha: .9);
  }
}


.popup__form-submit {
  background-color: rgba($color:red, $alpha: 1.0);
  padding: 20px 20px;
  width: 100%;
  color: rgba($color: #fff, $alpha: 1.0);
  border-radius: 6px;
}

.popup__subdomain-title {
  font-size: 21px;
  font-weight: 600;
  padding: 10px 0px 10px;
  border-bottom: 1px solid rgba($color: #000, $alpha: .1);
}

.popup__search-city {
  height: 40px;
  margin: 10px 0px;
  border: 1px solid rgba($color: #000, $alpha: .2);
  border-radius: 5px;
  padding: 0px 14px;

  &::placeholder {
    font-size: 13px;
  }

  &:focus {
    outline: none;
    border-color: rgba($color: #000, $alpha: .4);
  }
}

.popup__subdomain-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.popup__subdomain-link {
  padding: 15px 15px;
  display: flex;
  font-size: 18px;
  border: 1px solid rgba($color: red, $alpha: .2);
  border-radius: 3px;
}

.popup__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: rgba($color: #fff, $alpha: .5);

  &._active {
    pointer-events: all;
    display: flex;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.popup__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
  //border-radius: 20px;
  border: 1px solid #0064c8;
  background-color: #0064c8;
  color: #fff;
  font-size: 16px;
}