.fixed-contact {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 999;

  @media screen and (max-width: 615px) {
    display: none;
  }


  &__item{
    font-size: 14px;
    writing-mode: vertical-rl;
    transition: $animation-speed;

    @media (hover: hover) {
      &:hover{
        color: #0064C8;
      }
    }
  }
}