.footer {
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  background-color: #111;
  color: #fff;
  position: relative;
  z-index: 85;
  bottom: 0;
  overflow: hidden;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer__inner {
  display: flex;
  gap: 20px;
}

.footer__col {
  width: 100%;
  max-width: 25%;
  z-index: 86;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer__about {
  margin-bottom: 10px;
  color: rgb(166, 166, 166);
}

.footer__pol {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.footer__pol:hover {
  color: #e10000;
}

.footer__logo-wrap {
  margin-top: 120px;
}

.footer__about-link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 70;
}

.footer__about-link:hover {
  color: #e10000;
}

.footer__contact {
  color: rgb(166, 166, 166);
  font-weight: 700;
}

.footer__contact-info {
  margin-bottom: 15px;
}

.footer__contact-link {
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  text-decoration: underline;
}

.footer__contact-link:hover {
  color: #e10000;
}

.footer__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  z-index: 99 !important;
}

.footer__item {
  width: 100%;
  max-width: 45%;
}

.footer__img {
  width: 100%;
  max-width: 250px;
}

.footer__news {
  margin-bottom: 20px;
}

.footer__news-title {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
}

.footer__news-desc {
  color: rgb(166, 166, 166);
  font-size: 12px;
  margin-bottom: 5px;
}

.footer__news-date {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1;
}

.footer__news-link {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
  display: inline-block;
}

.footer__news-link:hover {
  color: #e10000;
}

.footer__form {
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
}

.footer__input {
  width: 100%;
  max-width: 300px;
  resize: none;
  margin-bottom: 15px;
  padding: 8px 15px;
  outline: none;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #333;
}

.footer__input::placeholder {
  color: rgb(103, 103, 103);
}

.footer__input:focus {
  border-color: rgba(225, 0, 0, 0.4823529412);
}

.footer__input:focus::placeholder {
  color: rgba(225, 0, 0, 0.4823529412);
}

.footer__btn {
  width: 100%;
  max-width: 300px;
  background-color: #0064C8;
  border: none;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  display: inline-block;
  width: fit-content;
  font-weight: 700;
  margin-top: 20px;
}

.footer__lines {
  position: absolute;
  right: 0;
  bottom: -115px;
  width: 250px;
  height: 350px;
  transform: rotate(55deg);
}

.footer__lines-inner {
  position: relative;
}

.footer__line {
  background-color: #333;
  width: 2px;
  position: absolute;
}

.footer__line:nth-child(1) {
  height: 250px;
  top: -550px;
  left: 0;
  animation: line1 10s infinite;
  animation-delay: 2s;
  z-index: 100;
}

@keyframes line1 {
  0% {
    top: 550px;
  }

  25% {
    top: 30px;
  }

  75% {
    top: 20px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(2) {
  height: 300px;
  top: -550px;
  left: 15px;
  animation: line2 10s infinite;
  animation-delay: 1s;
  z-index: 98;
}

@keyframes line2 {
  0% {
    top: 550px;
  }

  25% {
    top: 75px;
  }

  75% {
    top: 0;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(3) {
  height: 350px;
  top: -550px;
  left: 30px;
  animation: line2 10s infinite;
  animation-delay: 4s;
}

@keyframes line3 {
  0% {
    top: 550px;
  }

  25% {
    top: 35px;
  }

  75% {
    top: 20px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(4) {
  height: 150px;
  top: -550px;
  left: 45px;
  z-index: 97;
  animation: line4 10s infinite;
  animation-delay: 0.5s;
}

@keyframes line4 {
  0% {
    top: 550px;
  }

  25% {
    top: 15px;
  }

  75% {
    top: 0;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(5) {
  height: 450px;
  top: -550px;
  left: 60px;
  z-index: 98;
  animation: line5 10.5s infinite;
  animation-delay: 4s;
}

@keyframes line5 {
  0% {
    top: 550px;
  }

  25% {
    top: -20px;
  }

  75% {
    top: -35px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(6) {
  height: 500px;
  top: -550px;
  left: 75px;
  animation: line6 10.5s infinite;
  animation-delay: 2s;
}

@keyframes line6 {
  0% {
    top: 550px;
  }

  25% {
    top: 0;
  }

  75% {
    top: 0;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(7) {
  height: 480px;
  top: -550px;
  left: 90px;
  animation: line7 10.5s infinite;
  animation-delay: 2s;
}

@keyframes line7 {
  0% {
    top: 550px;
  }

  25% {
    top: 75px;
  }

  75% {
    top: 60px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(8) {
  height: 320px;
  top: -550px;
  left: 105px;
  animation: line8 10.5s infinite;
  animation-delay: 3.2s;
}

@keyframes line8 {
  0% {
    top: 550px;
  }

  25% {
    top: 35px;
  }

  75% {
    top: 20px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(9) {
  height: 230px;
  top: -550px;
  left: 120px;
  animation: line9 10.5s infinite;
  animation-delay: 5s;
}

@keyframes line9 {
  0% {
    top: 550px;
  }

  25% {
    top: 45px;
  }

  75% {
    top: 40px;
  }

  100% {
    top: -500px;
  }
}

.footer__line:nth-child(10) {
  height: 200px;
  top: -550px;
  left: 135px;
  animation: line10 10s infinite;
  animation-delay: 3s;
}

@keyframes line10 {
  0% {
    top: 550px;
  }

  25% {
    top: 50px;
  }

  75% {
    top: 45px;
  }

  100% {
    top: -500px;
  }
}

.footer canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 85;
  left: 0;
  right: 0;
  top: 0;
}