@media (min-width: 1200px) {
  .container {
    max-width: 1540px !important;
    margin: 0 auto;
    padding: 0 0.75rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1100px !important;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas {
  line-height: 0 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #0064C8;
  background-color: #0064C8;
  color: #fff;
  font-size: 14px;
}

.sticky-text {
  display: none;
}

._lock {
  overflow: hidden;
}

.animate-title {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 1;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 1s ease;
}

.animate_text{
  position: fixed;
  top: 50%;
  text-align: center;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 1;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 1s ease;
}