.kejsy{
  .video-banner {
    video {
      opacity: .7;
    }
  }
}

.works {
  padding: 0px 0px 100px;

  &__inner {
    display: grid;
    gap: 140px;

    @media screen and (max-width: 1200px) {
      &__inner {
        gap: 40px;
      }
    }
  }
}

.work {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 680px){
  .work {
    flex-direction: column;
    align-items: flex-start;
  }

}

.work__info {
  position: relative;
  padding: 50px 0px 20px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.work__info svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1200px){
  .work__info{
    padding: 30px 0px 20px 40px;
  }

  .work__info svg {
    width: 100px;
    height: 100px;
  }
}

.work__info-wrap {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.work__name {
  color: black;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

.work__description {
  max-width: 600px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 150%;
}

.work__btn {
  margin-top: 30px;
  font-size: 20px;
  color: #0064C8;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 1200px){
  .work__name{
    font-size: 45px;
  }

  .work__btn {
    margin-top: 0px;
    font-size: 16px;
  }

  .work__description {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px){
  .work__name{
    font-size: 35px;
  }
  .work__description {
    font-size: 16px;
  }
}

.work__image img {
  width: 597px;
  height: 300px;

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}

@media screen and (max-width: 1300px){
  .work__image img {
    width: 450px;
    height: 100%;
  }
}

@media screen and (max-width: 992px){
  .work__image img {
    width: 300px;
    height: 100%;
  }
}

@media (hover: hover) {
  .work:hover .work__btn {
    color: #e10000;
  }

  .work:hover .work__image {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }

  .work:hover .work__name {
    color: rgba(0, 0, 0, 0.8);
  }

  .work:hover .work__info svg {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
  }
}

.solution {
  padding: 80px 0px;
  background-color: rgba(41, 79, 153, 0.05);
}

.solution__title {
  font-size: 48px;
  width: 100%;
  max-width: 500px;
}

.solution__row {
  padding: 40px 0px;
}

.solution__row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.solution__row p {
  line-height: 150%;
  font-size: 18px;
}

.solution__row ul,
.solution__row ol {
  font-size: 18px;
  margin-left: 30px;
  margin-top: 10px;
}

.solution__row ul li,
.solution__row ol li {
  line-height: 150%;
}

.solution__row ul li:not(:last-child),
.solution__row ol li:not(:last-child) {
  margin-bottom: 10px;
}

.solution__row ul li::before,
.solution__row ol li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #0064c8;
}

.solution__title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.solution__inner {
  display: flex;
  position: relative;
  gap: 40px;
}

.solution__inner--one .solution__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.solution__text {
  width: 100%;
  max-width: 670px;
}
