.service {
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  background: #d8dadf;
  z-index: 83;
  overflow: hidden;

  span {
    width: 100%;
    transform: translateY(-50px);
    opacity: 1;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 80;

    @media screen and (max-width: 992px) {
      gap: 30px;
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 73px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    transition: all 1s ease;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;

  }

  &__col {
    text-align: center;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media screen and (max-width: 992px) {
      max-width: 100%;
      margin-bottom: 0px;
    }
  }

  &__col-title {
    font-size: 76px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    text-transform: uppercase;

    @media screen and (max-width: 1200px) {
      font-size: 35px;
      margin-bottom: 0px;
    }

    @media screen and (max-width: 576px) {
      font-size: 25px;
    }
  }

  &__link {
    display: block;
    line-height: 130%;
    text-transform: uppercase;
    text-wrap: balance;
    font-size: 26px;
    color: #001727;

    & + & {
      margin-top: 15px;
    }

    @media (hover: hover) {
      &:hover {
        color: #e10000;
      }
    }

    @media screen and (max-width: 1200px) {
      font-size: 20px;
    }

    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__col-wrap {
    padding: 20px;
    border-radius: 20px;
    transition: all 0.5s ease;

    @media(hover: hover) {
      &:hover {
        background-color: #fff;
      }
    }
  }
}


