// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// import styles bundle
@import '../../node_modules/swiper/swiper';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_header";
@import "_footer";
@import "_global";
@import "_hero";
@import "_service";
@import "_partners";
@import "_about";
@import "_advantages";
@import "_isMobile";
@import "_contact";
@import "_vacancy";
@import "_blog";
@import "_blog-single";
@import "_cases";
@import "_case";
@import "_animation";
@import "_menu";
@import "sections/_video-banner";


@import "agency/agency";

@import "./components/fixed-contact";
@import "./components/popup";
@import "./components/_form";
@import "./components/_breadcrumbs";

*{
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  background: $main_color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;

  main {
    flex: 1 0 auto;
  }
}
